  /* Reset all styles */
  * {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 11px;
    min-height: 10px;
  }

  #window {
    margin-left: 10px;
  }

  window#waybar {
    margin-left: 10px;
    border-radius: 0;
  }

    window#waybar.hidden {
        opacity: 0.2;
    }

    #workspaces button {
        /* To compensate for the top border and still have vertical centering */
        padding: 0 0.5em;
        margin: 4px 3px;
    }

    #clock,
    #custom-playerctl,
    #custom-power,
    #custom-scratchpad,
    #custom-weather,
    #custom-wlsunset,
    #custom-clipboard,
    #custom-menu,
    #custom-dnd,
    #temperature,
    #battery,
    #cpu,
    #language,
    #memory,
    #network,
    #bluetooth,
    #pulseaudio,
    #tray,
    #mode,
    #idle_inhibitor {
        padding-left: 10px;
        padding-right: 10px;
        margin: 4px 3px;
    }

    #battery {
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    #battery.warning.discharging {
        animation-name: blink-warning;
        animation-duration: 3s;
    }

    #battery.critical.discharging {
        animation-name: blink-critical;
        animation-duration: 2s;
    }

    label:focus {
        background-color: #000000;
    }

    #tray {
        padding-left: 10px;
        padding-right: 10px;
    }

